<h1>
  Problem 02
</h1>
<p>
  Problem Description
  You are tasked with creating a simple Angular application that consists of a form to collect user information and a
  display area to show the submitted information in a list format.

  The form should have the following fields:

  First Name (text input)
  Last Name (text input)
  Email (text input with email validation)
  Age (numeric input)
  Below the form, display a list of submitted user information cards.

  Requirements:

  The form should be created using Angular's Reactive Forms.
  All form fields are required.
  Email should be validated to ensure it's in the correct format.
  Implement a "Submit" button that is disabled until the form is valid.
  Once the form is submitted, clear the form and add the submitted information to the list of user cards below.
  Each user card should have an option to delete the card from the list.
</p>

<br />
<br />

<form submit="onSubmit()">
  <label for="firstName">First Name</label>
  <input class="input input-bordered bg-emerald-200" type="text" name="firstName" [formControl]=firstName />
  <br />

  <label for="firstName">Last Name</label>
  <input class="input input-bordered bg-emerald-200" type="text" name="lastName" [formControl]="lastName" />
  <label for="email">Email</label>
  <input class="input input-bordered bg-emerald-200" type="text" name="email" [formControl]="email" />
  <label for="firstName">age</label>
  <input class="input input-bordered bg-emerald-200" type="text" name="firstName" [formControl]="age" />
  <button class="btn btn-primary" type="submit" [ngClass]="totalCheck()? '':'btn-disabled'"
    (click)="onSubmit()">submit</button>
</form>

<table>
  <thead>
    <tr>
      <td>FirstName</td>
      <td>LastName</td>
      <td>Email</td>
      <td>Age</td>
      <td>Operation</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>
        {{user.firstName}}
      </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.email}}
      </td>
      <td>
        {{user.age}}
      </td>
      <td>
        <button class="btn btn-info " (click)="delete(user)">Delete</button>
      </td>
    </tr>
  </tbody>