<div class="bg-amber-200 text-black">

  <h2>User List</h2>
  <ul *ngFor="let user of userList">
    <li> {{user.name}}: {{user.email}} => {{user.website}}</li>
  </ul>


  <br />

  <h2>SignUp Form</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">

    <div clas="flex flex-col">
      <div>
        <label for="name">Name:</label>
        <input type="text" formControlName="name" class="input input-bordered input-warning w-full max-w-xs" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="text" formControlName="email" class="input input-bordered input-warning w-full max-w-xs" />
      </div>

      <div>
        <label for="website">website:</label>
        <input type="text" formControlName="website" class="input input-bordered input-warning w-full max-w-xs" />
      </div>

      <button class="btn btn-primary" [ngClass]="signupForm.valid?'': 'btn-disabled'">Submit</button>
    </div>
  </form>
</div>