<div class="bg-lime-200">
  <h1>Daniel's string manipulation</h1>

  <h2>Problem Description, check the code below</h2>
  1. hello world
  2. ello worl
  3. llo wor
  4. lo wo
  5. o w
  6. "_" (one space)
  7. o w
  8. lo wo
  9. llo wor
  10. ello worl
  11. hello world

  <br />
  1. abcd
  2. bc
  3. "" (epmty)
  4. bc
  5. abcd


  <br />

  <input type="text" [(ngModel)]="orgin_string" class="input input-bordered w-full max-w-xs border-amber-800" />

  <h1>{{orgin_string}}</h1>
  <button class="btn btn-primary" (click)="onClick()">Click to Display</button>


  <div class="text-lg">Display Area...</div>
  <div *ngIf="isShow" class>
    <div *ngFor="let item of finalList">
      {{item}}
    </div>
  </div>
</div>