<h1>
  Problem 01
</h1>
<p>
  Problem Description
  You're tasked with creating a simple Angular application that simulates the loading of a new page upon the click of a
  button. The new page will have different messages to indicate its loading state. Here are the stages:

  Initial State: A button that says "Load Page" is displayed.
  First 3 seconds: Once clicked, the button should take the user to a new "page" (or change the existing view) that
  initially displays the text "The page is loading..."
  Next 2 seconds: After the first 3 seconds but before 5 seconds have elapsed, add the text "The page is still
  loading..."
  After 10 seconds: Replace the loading text with the "fake page" content, simulating that the page has finished
  loading.
</p>
<br />
<p>{{count}}</p>
<button class="btn btn-info" (click)="onClick()"> Start </button>
<p>{{message}}</p>