<!-- 08/26/2023 -->
<app-practice-triangle></app-practice-triangle>
<app-http-client></app-http-client>
<app-login-form></app-login-form>
<app-traffic-light></app-traffic-light>
<app-calculator></app-calculator>
<app-process-bar></app-process-bar>

<!-- interview -->
<!-- <app-plans></app-plans>
<br />
<app-string></app-string>
<br /> -->

<!-- 08/25/2023 -->
<!-- <app-rxjs-observable-subscriber></app-rxjs-observable-subscriber>
<br />
<app-rxjs-counter></app-rxjs-counter>
<br />
<app-rxjs-pipe-operators></app-rxjs-pipe-operators>
<br /> -->



<!-- 08/24/2023 -->
<!-- <app-custom-attribute-directive></app-custom-attribute-directive>
<br />
<app-input-attribute-directive></app-input-attribute-directive>
<br />
<app-structural-directive></app-structural-directive>
<br />
<app-brainstorm-vote></app-brainstorm-vote>
<br />
<app-pagination></app-pagination>
<br /> -->



<!-- 08/23/2023 -->
<!-- <app-counter></app-counter>
<br />
<app-counter-auto-increment></app-counter-auto-increment>
<br />
<app-fibonacci></app-fibonacci>
<br />
<app-di-playground></app-di-playground>
<br /> -->


<!-- before 08/23/2023 -->
<!-- <app-palindrome-list></app-palindrome-list>
<br />
<app-city-filter></app-city-filter>
<br />
<app-add-to-list></app-add-to-list>
<br /> -->