<!-- <app-palindrome-list></app-palindrome-list>
<br />
<app-city-filter></app-city-filter>
<br />
<app-add-to-list></app-add-to-list> -->

<!-- 08/23/2023 -->
<!-- <app-counter></app-counter> -->
<!-- <app-counter-auto-increment></app-counter-auto-increment> -->
<!-- <app-fibonacci></app-fibonacci>-->
<!-- <app-di-playground></app-di-playground> -->

<!-- 08/24/2023 -->
<!-- <app-custom-attribute-directive></app-custom-attribute-directive> -->
<!-- <app-input-attribute-directive></app-input-attribute-directive> -->
<app-structural-directive></app-structural-directive>