<div class="bg-purple-300">
<h1 class="mb-4"> Daniel's Pagination </h1>

<div class="flex flex-col ml-3 w-80">
  <input type="text" [(ngModel)]="filterQueryString" class="input input-bordered input-primary w-full max-w-xs" />
  <h2>Search query is: {{filterQueryString}}</h2>
  <h2>Page size is: {{PAGESIZE}}</h2>
<div class="flex flex-row justify-between my-2">
    <button class=" btn btn-primary w-32" [ngClass]="{'btn-disabled':filterQueryString.length === 0}"
      (click)="onFilter(filterQueryString)"> Search </button>
  
    <div class="dropdown">
      <label tabindex="0" class="btn btn-primary">Change Page Size</label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <button class="flex items-center justify-center bg-blue-500 text-white px-4 py-2 rounded btn"
          (click)="onChangePageSize(5)">5</button>
        <button class="flex items-center justify-center bg-blue-500 text-white px-4 py-2 rounded btn"
          (click)="onChangePageSize(10)">10</button>
      </ul>
    </div>
  </div>
</div>

<!-- info data -->
<div *ngFor="let item of currentData">
  <div class="card card-compact w-96 bg-base-100 shadow-xl mb-2">
    <div class="card-body">
      <h2 class="card-title">{{item.title}}</h2>
      <p>{{item.authors}}</p>
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="join mb-3">
  <div *ngFor="let page of pageList" (click)="clickPage(page)">
    <button class="join-item btn btn-primary" [ngClass]="{'btn-secondary':isCurrentPage(page)}">{{ page
      }}</button>
  </div>
</div>
</div>