<div class="flex flex-col ml-3">
  <h1> Daniel's Pagination </h1>
  <br />

<!-- info data -->
<div *ngFor="let item of currentData">
  <div class="card card-compact w-96 bg-base-100 shadow-xl mb-2">
    <div class="card-body">
      <h2 class="card-title">{{item.title}}</h2>
      <p>{{item.authors}}</p>
    </div>
  </div>
</div>
<!-- Pagination -->
<div class="join">
  <div *ngFor="let page of pageList" (click)="clickPage(page)">
    <button class="join-item btn btn-primary" [ngClass]="{'btn-secondary':isCurrentPage(page)}">{{ page
      }}</button>
  </div>
</div>

</div>