<h1> Daniel's Pagination </h1>

<div style="display: flex; flex-direction: column; align-items: center">
  <input [(ngModel)]="queryString" (input)="changeHandler()" />
  <div>
    <div *ngFor="let one of list"
      style="border: 1px black solid; margin: 10px; display: flex; flex-direction: column; align-items: center">
      <div>Title: {{ one.title }}</div>
      <div>Authors: </div>
      <span *ngFor="let author of one.authors">{{ author }}</span>
    </div>
  </div>
  <div style="display: flex">
    <div *ngFor="let page of pageList" (click)="clickHandler(page)"
      style="border: 1px black solid; height: 20px; width: 20px; display: flex; justify-content: center">
      {{ page }}
    </div>
  </div>
</div>