<div class="bg-rose-200">
  <h1>Daniel's auto search </h1>
  <p class="text-info-content"> This search box will automatically search 0.5 sec right after you are inactive. It will
    search both within the title and the body</p>
  <label class="text-3xl">Search in title and body:</label>
  <input type="text" class="input input-border bg-teal-300" [formControl]="filterString" />
  <!-- <button class="btn btn-info" (click)="search(this.filterString.value)">Search</button> -->
  <br />
  <table>
    <thead>
      <tr>
        <th class="w-16">User ID</th>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of searchedPosts">
        <td>{{ item.userId }}</td>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.body }}</td>
      </tr>
    
    </tbody>
  </table>
</div>