<div class="bg-violet-200">
  <h1>Daniel's dynamic form </h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched">
        Username is required and should be at least 4 characters long.
      </div>
    </div>
    <div>
      <label for="role">Role:</label>
      <select id="role" formControlName="role" (change)="onRoleChange()">
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
      <div *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched">
        Role is required.
      </div>
    </div>
    <div formArrayName="permissions">
      <div *ngFor="let permission of dynamicFields[userForm.get('role')?.value]; let i = index">
        <label>
          <input type="checkbox" [formControlName]="i"> {{ permission }}
        </label>
      </div>
      <div *ngIf="userForm.get('permissions')?.invalid && userForm.get('permissions')?.touched">
        Please select at least one permission.
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>

  <div *ngIf="userForm.valid">
    <h2>Form Values</h2>
    <pre>{{ userForm.value | json }}</pre>
  </div>
</div>